/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    width: 600px;
    height: 50%;
    background-color: rgb(175, 169, 181);
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0 10px;
    border-radius: 20px ;
}
.form-container {
   text-align: center;
}
.form-container p{
    margin-top: 10px;
    font-weight: 300;
    f
}
input{
    position: relative;
    width: 50%;
    height: 30px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    margin-top: 30px;
    margin-right: 50px;
}
label{
    position: relative;
    margin-right: 10px;
}
.submit-btn{
    width: 60%;
    height: 40px;
    position: relative;
    margin-right: 50px;
    margin-top: 30px;
    padding: 10px;
    color: rgb(109, 188, 129);
    background-color: skyblue;
    border: none;
    border-radius: 50px;
}
.back-to-login{
    margin-top: 30px;
}
.back-to-login a{
    text-decoration: none;
    color: brown;
}
.back-to-login a:hover{
    color: chartreuse;
}
